In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import matplotlib.pyplot as plt
import pandas as pd

import requests
import urllib.request

import numpy as np
import math
import time
from datetime import date, datetime, timedelta

from bs4 import BeautifulSoup

start_time = time.time()

In [2]:
# How much do you want to scale back this run? Pick a number between 0 (none) and 1 (all)

t = 1

## This is where we build training dataset
This can be skipped if we don't want to make the 30 minute time investment of re-training the model.

This is the section where I pull the list of probable pitchers from b-ref

In [3]:
# ### WE MIGHT BE ABLE TO SKIP THIS CELL
# # Request setup
# url = "https://www.baseball-reference.com/previews/"

# with urllib.request.urlopen(url) as response:
#     html = response.read()

# soup = BeautifulSoup(html, 'html.parser')

# # Get the list of probables
# probables = []
# probables = pd.DataFrame()

# # We're going to loop through this list of matchups
# matchups = soup.find_all('div', class_='game_summary nohover')

# # For each matchup in the full list of matchups
# for matchup in matchups:

#     # Get the first pitcher's name
#     p1_name = matchup.find_all('a')[3].text

#     # Get the first pitcher's code
#     try: p1_code = matchup.find_all('a')[3].get('href').split("/")[5].split(".")[0]
#     except: p1_code = np.nan

#     # Get the first pitcher's team
#     team1 = matchup.find_all('strong')[0].text

#     # Get the second pitcher's name
#     try: p2_name = matchup.find_all('a')[4].text
#     except: p2_name = np.nan

#     # Get the second pitcher's code
#     try: p2_code = matchup.find_all('a')[4].get('href').split("/")[5].split(".")[0]
#     except: p2_code = np.nan

#     # Get the second pitcher's team
#     # Had to add a function that handles if there is a debut in the matchup,
#     # Which would otherwise change the list of 'strong' divs in the matchup
#     debut_adj = math.ceil(len(matchup.find_all('strong'))/2)
#     try: team2 = matchup.find_all('strong')[debut_adj].text
#     except: team2 = np.nan

#     # Create a dictionary for the first pitcher and their matchup
#     pitcher1 = {
#         'date':date.today(),
#         'name':p1_name,
#         'code':p1_code,
#         'for':team1,
#         'against':team2
#     }

#     # Create a dictionary for the second pitcher and their matchup
#     pitcher2 = {
#         'date':date.today(),
#         'name':p2_name,
#         'code':p2_code,
#         'for':team2,
#         'against':team1
#     }

#     # Put both pitchers into a list of probable matchups, separately
#     probables = probables.append(pitcher1, ignore_index=True)
#     probables = probables.append(pitcher2, ignore_index=True)

# # Export to csv
# probables.to_csv('probables.csv',index = False)

# probables

### This is the section where I scrape individual starting pitchers' individual game performance

#### Things it'd be cool to add here:
Add a counter that shows the total number of pitchers logged, compared to the total number fed in, so I can see how much loss there was when we triggered the except/pass code\
\
Add in a we could try to scrape away some time by ignoring pitchchers who haven't pitched since the last time we logged? Probably won't save that much time, depending on how much time it has been.\
\
How valuable is the information we are getting from the guys who are towards the end of the list? The list of pitchers is sorted by number of starts, so cutting the bottom 20% of the list will take away 20% of the run time, but only ~10% of the data. But maybe it's important to have representation for those pitchers with only a few starts?\
\
Some way for me to more easily pick which variables I want to choose. Like maybe have a dictionary with stats as the keys, and booleans as the values, so I can just go through, try out different combinations.

In [4]:
# This is a dataset drawn manually from b-ref.
# There is probably a slick way to scrape this
# but this only has to be updated every once in a while, not all the time
# So manually works for now.
all_starters = pd.read_csv('all_starters.csv')

# Initialize df
pitcher_data = pd.DataFrame()

# For every starter we have
for i in range(round(t*len(all_starters))):
    try:
        code = all_starters.loc[i,'code']
        name = all_starters.loc[i,'name']

        # Request setup
        url = f'https://www.baseball-reference.com/players/gl.fcgi?id={code}&t=p&year=2023'
        df = pd.read_html(url)
        df = pd.DataFrame(df[0])

        # # DATA CLEANING # #

        # Drop weird rows
        df = df[pd.to_numeric(df['Rk'], errors = 'coerce').notnull()]

        # Reset index after dropping some rows
        df = df.reset_index()

        # Identify desired columns to keep and drop others
        keep_cols = ['Date','Opp','Dec', 'DR',
                     'IP', 'H', 'ER', 'BB', 'SO', 'HR', 'HBP',
                     'FIP']

        df = df[keep_cols]

        # Now let's make the date column usable
        # Clean away situations where there's a double-header impacting the date
        df['Date'] = df['Date'].str.split("(", expand = True).loc[:,0]

        # Extract day from date
        days = df['Date'].str.split(n=1,expand = True).loc[:,1]

        # Extract month from date
        months = df['Date'].str.split(n=1,expand = True).loc[:,0]

        # Convert month to numerical month
        months = months.str.replace('Oct','10')
        months = months.str.replace('Sep','9')
        months = months.str.replace('Aug','8')
        months = months.str.replace('Jul','7')
        months = months.str.replace('Jun','6')
        months = months.str.replace('May','5')
        months = months.str.replace('Apr','4')
        months = months.str.replace('Mar','3')

        # Create year series
        df['years'] = '2023'

        # Build date string
        df['Date'] = df['years'] + "-" + months + "-" + days

        # Drop year series
        df = df.drop(columns = ['years'])

        # Clean Decision series
        df['Dec'] = df['Dec'].str[0]

        df['Dec'] = df['Dec'].fillna('0')

        df['Dec'] = df['Dec'].str.replace('W','1')
        df['Dec'] = df['Dec'].str.replace('L','-1')
        df['Dec'] = df['Dec'].str.replace('B','-1')
        df['Dec'] = df['Dec'].str.replace('S','2')
        df['Dec'] = df['Dec'].str.replace('H','0')

        # Make everything a string before the step below. Don't worry, we'll fix this later on.
        # This is because some of our data processing functions require string inputs,
        # and our data scraper might accidentally infer some things as numbers.
        # We have to do this
        df = df.applymap(str)

        # Make outs series, convert IP to Outs, then drop IP series
        whole = df['IP'].str.split(".", expand = True)[0].astype('int')
        part = df['IP'].str.split(".", expand = True)[1].astype('int')

        df['Outs'] = 3*whole + part

        df = df.drop(columns = ['IP'])

        # Sometimes my DR column gets interpreted as a float, that gets turned into a string,
        # that can't be turned directly into an int. But it can be interpreted as a float, from a string,
        # so we do that first, and then we can convert it to an int without issue.
        df['DR'] = df['DR'].astype('float')

        # Cast numerical datatypes as numbers
        df = df.astype({
            'Dec':'int',
            'DR':'int',
            'H':'int',
            'ER':'int',
            'BB':'int',
            'SO':'int',
            'HR':'int',
            'HBP':'int',
            'FIP':'float',
            'Outs':'int',
        })

        # Convert date string to date type
        df['Date'] = pd.to_datetime(df['Date'])

        # Calculate fantasy points
        df['points'] = 3*df['Dec'] - df['H'] - 2*df['ER'] - df['BB'] + df['SO'] - df['HBP'] + df['Outs']

        # Create quality start series QS
        for row in range(1,len(df)):
            if df.loc[row,'ER']<=3 and df.loc[row,'Outs']>=18: df.loc[row,'QS'] = 1
            else: df.loc[row,'QS'] = 0

        # Add in pitcher name and code
        df['pitcher'] = name
        df['code'] = code

        # Drop starts following 30+ days rest
        df = df[df['DR'] <30]

        # Add it to the overall pitcher data df
        pitcher_data = pitcher_data.append(df, ignore_index=True)

        # Let me know we're done with that player
        print(f'Done adding {name} {i}/{len(all_starters)}')

        # Wait for 3.2 seconds, b/c baseball-reference has a 20 request/min limit
        time.sleep(3.2)
    except: pass

# Export to csv
pitcher_data.to_csv('pitcher_data.csv',index = False)

print("Done")

pitcher_data

Done adding Miles Mikolas 0/357
Done adding Chris Bassitt 1/357
Done adding Dylan Cease 2/357
Done adding Gerrit Cole 3/357
Done adding Zac Gallen 4/357
Done adding Logan Webb 5/357
Done adding Sandy Alcantara 6/357
Done adding José Berríos 7/357
Done adding Corbin Burnes 8/357
Done adding Luis Castillo 9/357
Done adding Patrick Corbin 10/357
Done adding Kyle Gibson 11/357
Done adding Lucas Giolito 12/357
Done adding Sonny Gray 13/357
Done adding Mitch Keller 14/357
Done adding Dean Kremer 15/357
Done adding Pablo López 16/357
Done adding Jesús Luzardo 17/357
Done adding Aaron Nola 18/357
Done adding Johan Oviedo 19/357
Done adding Blake Snell 20/357
Done adding Zach Eflin 21/357
Done adding Bryce Elder 22/357
Done adding Kyle Freeland 23/357
Done adding Kevin Gausman 24/357
Done adding Logan Gilbert 25/357
Done adding Austin Gomber 26/357
Done adding Josiah Gray 27/357
Done adding Andrew Heaney 28/357
Done adding Rich Hill 29/357
Done adding Yusei Kikuchi 30/357
Done adding Lance Lynn 31/357
Done adding Jordan Montgomery 32/357
Done adding Charlie Morton 33/357
Done adding Clarke Schmidt 34/357
Done adding JP Sears 35/357
Done adding Brady Singer 36/357
Done adding Spencer Strider 37/357
Done adding Framber Valdez 38/357
Done adding Taijuan Walker 39/357
Done adding Zack Wheeler 40/357
Done adding Trevor Williams 41/357
Done adding Graham Ashcraft 42/357
Done adding Alex Cobb 43/357
Done adding Braxton Garrett 44/357
Done adding MacKenzie Gore 45/357
Done adding Cristian Javier 46/357
Done adding George Kirby 47/357
Done adding Michael Kopech 48/357
Done adding Jordan Lyles 49/357
Done adding Freddy Peralta 50/357
Done adding Justin Steele 51/357
Done adding Kyle Bradish 52/357
Done adding Hunter Brown 53/357
Done adding Reid Detmers 54/357
Done adding Jack Flaherty 55/357
Done adding Jon Gray 56/357
Done adding Merrill Kelly 57/357
Done adding Max Scherzer 58/357
Done adding Kodai Senga 59/357
Done adding Jameson Taillon 60/357
Done adding Brayan Bello 61/357
Done adding Yu Darvish 62/357
Done adding Michael Lorenzen 63/357
Done adding Ryne Nelson 64/357
Done adding Joe Ryan 65/357
Done adding Patrick Sandoval 66/357
Done adding Tyler Anderson 67/357
Done adding Tanner Bibee 68/357
Done adding Zack Greinke 69/357
Done adding Shohei Ohtani 70/357
Done adding Marcus Stroman 71/357
Done adding Seth Lugo 72/357
Done adding Bailey Ober 73/357
Done adding Drew Smyly 74/357
Done adding Justin Verlander 75/357
Done adding Luke Weaver 76/357
Done adding Logan Allen 77/357
Done adding Dane Dunning 78/357
Done adding Jake Irvin 79/357
Done adding Clayton Kershaw 80/357
Done adding Shane McClanahan 81/357
Done adding Tylor Megill 82/357
Done adding Bryce Miller 83/357
Done adding Eduardo Rodriguez 84/357
Done adding Julio Urías 85/357
Done adding Carlos Carrasco 86/357
Done adding Nathan Eovaldi 87/357
Done adding J.P. France 88/357
Done adding Tony Gonsolin 89/357
Done adding Kyle Hendricks 90/357
Done adding Martín Pérez 91/357
Done adding Colin Rea 92/357
Done adding Ken Waldichuk 93/357
Done adding Tyler Wells 94/357
Done adding Shane Bieber 95/357
Done adding Aaron Civale 96/357
Done adding Mike Clevinger 97/357
Done adding Kutter Crawford 98/357
Done adding Domingo Germán 99/357
Done adding Alek Manoah 100/357
Done adding Wade Miley 101/357
Done adding James Paxton 102/357
Done adding Grayson Rodriguez 103/357
Done adding Michael Wacha 104/357
Done adding Brandon Williamson 105/357
Done adding Griffin Canning 106/357
Done adding Anthony DeSclafani 107/357
Done adding Ranger Suárez 108/357
Done adding Noah Syndergaard 109/357
Done adding Adam Wainwright 110/357
Done adding Andrew Abbott 111/357
Done adding Taj Bradley 112/357
Done adding Edward Cabrera 113/357
Done adding Hunter Greene 114/357
Done adding Adrian Houser 115/357
Done adding Kenta Maeda 116/357
Done adding Steven Matz 117/357
Done adding Bobby Miller 118/357
Done adding Joe Musgrove 119/357
Done adding David Peterson 120/357
Done adding Luis Severino 121/357
Done adding Joey Wentz 122/357
Done adding Paul Blackburn 123/357
Done adding Tyler Glasnow 124/357
Done adding Tommy Henry 125/357
Done adding Tanner Houck 126/357
Done adding Eury Pérez 127/357
Done adding Chris Sale 128/357
Done adding Matthew Boyd 129/357
Done adding Brandon Pfaadt 130/357
Done adding Zach Davies 131/357
Done adding Matt Manning 132/357
Done adding Luis Medina 133/357
Done adding Reese Olson 134/357
Done adding Cal Quantrill 135/357
Done adding Cristopher Sánchez 136/357
Done adding Bryan Woo 137/357
Done adding Chase Anderson 138/357
Done adding Brandon Bielak 139/357
Done adding Jhony Brito 140/357
Done adding Kyle Muller 141/357
Done adding Connor Seabold 142/357
Done adding Gavin Williams 143/357
Done adding Nestor Cortes 144/357
Done adding Alex Faedo 145/357
Done adding Michael Grove 146/357
Done adding Cole Irvin 147/357
Done adding Ben Lively 148/357
Done adding Luis Ortiz 149/357
Done adding Ryan Walker 150/357
Done adding Roansy Contreras 151/357
Done adding Bailey Falter 152/357
Done adding Chris Flexen 153/357
Done adding Max Fried 154/357
Done adding James Kaprielian 155/357
Done adding Matthew Liberatore 156/357
Done adding Nick Pivetta 157/357
Done adding Tarik Skubal 158/357
Done adding Ross Stripling 159/357
Done adding Julio Teheran 160/357
Done adding Touki Toussaint 161/357
Done adding Ryan Weathers 162/357
Done adding Hayden Wesneski 163/357
Done adding Alex Wood 164/357
Done adding Marco Gonzales 165/357
Done adding Peter Lambert 166/357
Done adding Zack Littell 167/357
Done adding Jared Shuster 168/357
Done adding Louie Varland 169/357
Done adding Garrett Whitlock 170/357
Done adding Yonny Chirinos 171/357
Done adding Xzavion Curry 172/357
Done adding José Urquidy 173/357
Done adding Brad Keller 174/357
Done adding Corey Kluber 175/357
Done adding Daniel Lynch IV 176/357
Done adding Dustin May 177/357
Done adding José Quintana 178/357
Done adding Carlos Rodón 179/357
Done adding Jesse Scholtens 180/357
Done adding Matt Strahm 181/357
Done adding Jalen Beeks 182/357
Done adding Osvaldo Bido 183/357
Done adding Ty Blach 184/357
Done adding John Brebbia 185/357
Done adding Ryan Feltner 186/357
Done adding Eric Lauer 187/357
Done adding Alec Marsh 188/357
Done adding Cole Ragans 189/357
Done adding Drew Rasmussen 190/357
Done adding Emmet Sheehan 191/357
Done adding Vince Velasquez 192/357
Done adding Brandon Woodruff 193/357
Done adding Scott Alexander 194/357
Done adding Javier Assad 195/357
Done adding Ronel Blanco 196/357
Done adding Johnny Cueto 197/357
Done adding Shintaro Fujinami 198/357
Done adding Dakota Hudson 199/357
Done adding Nick Lodolo 200/357
Done adding Chase Silseth 201/357
Done adding Spencer Turnbull 202/357
Done adding Ryan Yarbrough 203/357
Done adding Jaime Barria 204/357
Done adding Peyton Battenfield 205/357
Done adding Brennan Bernardino 206/357
Done adding Cody Bradford 207/357
Done adding Luis Cessa 208/357
Done adding Jacob deGrom 209/357
Done adding Hunter Gaddis 210/357
Done adding Luis Garcia 211/357
Done adding Hogan Harris 212/357
Done adding Bryan Hoeing 213/357
Done adding Joey Lucchesi 214/357
Done adding Sean Manaea 215/357
Done adding Nick Martinez 216/357
Done adding Quinn Priester 217/357
Done adding Austin Pruitt 218/357
Done adding Hyun Jin Ryu 219/357
Done adding Michael Soroka 220/357
Done adding José Suarez 221/357
Done adding Jake Woodford 222/357
Done adding Joan Adon 223/357
Done adding Shawn Armstrong 224/357
Done adding Dylan Dodd 225/357
Done adding Chad Kuhl 226/357
Done adding Tyler Mahle 227/357
Done adding Zach Plesac 228/357
Done adding Zack Thompson 229/357
Done adding José Ureña 230/357
Done adding Kyle Wright 231/357
Done adding Pedro Avila 232/357
Done adding Madison Bumgarner 233/357
Done adding Slade Cecconi 234/357
Done adding Noah Davis 235/357
Done adding Calvin Faucher 236/357
Done adding Caleb Ferguson 237/357
Done adding Carlos Hernández 238/357
Done adding Andre Jackson 239/357
Done adding Jakob Junis 240/357
Done adding Dallas Keuchel 241/357
Done adding Michael King 242/357
Done adding Dinelson Lamet 243/357
Done adding Germán Márquez 244/357
Done adding Mason Miller 245/357
Done adding Trevor Rogers 246/357
Done adding Drew Rucinski 247/357

Done adding AJ Smith-Shawver 248/357
Done adding Randy Vásquez 249/357
Done adding Kolby Allard 250/357
Done adding Tanner Banks 251/357
Done adding Jake Bird 252/357
Done adding Kris Bubic 253/357
Done adding Austin Cox 254/357
Done adding Josh Fleming 255/357
Done adding Ian Hamilton 256/357
Done adding Emerson Hancock 257/357
Done adding Kyle Harrison 258/357
Done adding Drey Jameson 259/357
Done adding Karl Kauffmann 260/357
Done adding Trevor Kelley 261/357
Done adding Connor Overton 262/357
Done adding Denyi Reyes 263/357
Done adding Lyon Richardson 264/357
Done adding Trevor Richards 265/357
Done adding Drew Rom 266/357
Done adding Jeffrey Springs 267/357
Done adding Gavin Stone 268/357
Done adding Will Vest 269/357
Done adding Allan Winans 270/357
Done adding Ángel Zerpa 271/357
Done adding Tristan Beck 272/357
Done adding Ryan Borucki 273/357
Done adding José Butto 274/357
Done adding Taylor Clarke 275/357
Done adding José Cuas 276/357
Done adding Javy Guerra 277/357
Done adding Thomas Hatch 278/357
Done adding Brett Kennedy 279/357
Done adding Derek Law 280/357
Done adding Joe Mantiply 281/357
Done adding Mike Mayers 282/357
Done adding Triston McKenzie 283/357
Done adding Tommy Milone 284/357
Done adding Zach Neal 285/357
Done adding Kaleb Ort 286/357
Done adding Erasmo Ramírez 287/357
Done adding John Schreiber 288/357
Done adding Tayler Scott 289/357
Done adding Colin Selby 290/357
Done adding Antonio Senzatela 291/357
Done adding Levi Stoudt 292/357
Done adding Matt Waldron 293/357
Done adding Brendan White 294/357
Done adding Jordan Wicks 295/357
Done adding Keaton Winn 296/357
Done adding Keegan Akin 297/357
Done adding Tyler Alexander 298/357
Done adding Tejay Antone 299/357
Done adding Matt Barnes 300/357
Done adding Beau Brieske 301/357
Done adding Connor Brogdon 302/357
Done adding JT Chargois 303/357
Done adding Jesse Chavez 304/357
Done adding Dylan Coleman 305/357
Done adding Jimmy Cordero 306/357
Done adding Dylan Covey 307/357
Done adding Fernando Cruz 308/357
Done adding Tucker Davidson 309/357
Done adding José De León 310/357
Done adding Matt Dermody 311/357
Done adding Shawn Dubin 312/357
Done adding Mason Englert 313/357
Done adding Michael Fulmer 314/357
Done adding Justin Garza 315/357
Done adding Victor González 316/357
Done adding Brusdar Graterol 317/357
Done adding Tyler Holton 318/357
Done adding Dany Jiménez 320/357
Done adding Janson Junk 321/357
Done adding Caleb Kilian 322/357
Done adding Reiss Knehr 323/357
Done adding Jimmy Lambert 324/357
Done adding Dylan Lee 325/357
Done adding Sam Long 326/357
Done adding Adrián Martínez 327/357
Done adding James McArthur 328/357
Done adding Easton McGee 329/357
Done adding Scott McGough 330/357
Done adding Collin McHugh 331/357
Done adding Carmen Mlodzinski 332/357
Done adding Sam Moll 333/357
Done adding Adrián Morejón 334/357
Done adding Kyle Nelson 335/357
Done adding Steven Okert 336/357
Done adding Adam Oller 337/357
Done adding Ryan Pepiot 338/357
Done adding Francisco Pérez 339/357
Done adding Connor Phillips 340/357
Done adding Robbie Ray 341/357
Done adding Yerry Rodríguez 342/357
Done adding Kenny Rosenberg 343/357
Done adding José Ruiz 344/357
Done adding Devin Smeltzer 345/357
Done adding George Soriano 346/357
Done adding Carson Spiers 347/357
Done adding Josh Staumont 348/357
Done adding Freddy Tarnok 349/357
Done adding Josh Taylor 350/357
Done adding Alex Vesia 351/357
Done adding Darius Vines 352/357
Done adding Spenser Watkins 353/357
Done adding Josh Winckowski 354/357
Done adding Jackson Wolf 355/357
Done adding Rob Zastryzny 356/357
Done

,Date,Opp,Dec,DR,H,ER,BB,SO,HR,HBP,FIP,Outs,points,QS,pitcher,code
0,2023-04-05,ATL,-1,5,9,5,1,6,1,0,2.72,18,1,0.0,Miles Mikolas,mikolmi01
1,2023-04-11,COL,0,5,10,6,2,3,3,0,5.63,15,-6,0.0,Miles Mikolas,mikolmi01
2,2023-04-16,PIT,0,4,7,2,2,4,0,0,4.86,17,8,0.0,Miles Mikolas,mikolmi01
3,2023-04-22,SEA,0,5,5,3,2,4,2,0,5.47,16,7,0.0,Miles Mikolas,mikolmi01
4,2023-04-27,SFG,1,4,4,0,2,6,0,1,4.93,19,21,1.0,Miles Mikolas,mikolmi01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,2023-06-09,NYM,0,1,2,0,0,2,0,0,4.37,5,5,0.0,Rob Zastryzny,zastrro01
7123,2023-06-13,CHC,0,3,3,3,1,2,1,0,5.01,5,-3,0.0,Rob Zastryzny,zastrro01
7124,2023-06-15,CHC,0,1,1,0,0,1,0,0,4.79,3,3,0.0,Rob Zastryzny,zastrro01
7125,2023-08-26,CHC,0,1,0,0,0,0,0,0,4.52,3,3,0.0,Rob Zastryzny,zastrro01
7126,2023-09-03,STL,0,7,2,0,0,1,0,0,4.32,5,4,0.0,Rob Zastryzny,zastrro01

### This is the notebook where I take pitcher starting performance, and create a df of "previous" performance before each start, for each pitcher.

In [5]:
df = pitcher_data

# This is me getting a df of how the given pitcher performed
# in the outing immediately before the given date
df_last = pd.DataFrame()

for i in range(len(df)):
    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    code = df.loc[i,:].code

    # Given a code/date, extract the previous game data
    df_last1 = df.loc[(df.Date < date) & (df.code == code)].sort_values('Date').tail(1)
    
    df_last1 = df_last1.drop(columns = ['Date', 'Opp','pitcher','code'])

    # Get the average of those 1 rows, find the averages of averageable, transpose it from series to row
    df_last1_avg = pd.DataFrame(df_last1.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_last1_avg.columns = [f"{col}_1" for col in df_last1_avg.columns]

    # Assign it to the date and code we're working with
    df_last1_avg['Date'] = date
    df_last1_avg['code'] = code

    # Append into the last few games df
    df_last = df_last.append(df_last1_avg)

# Rest the index so that we can .loc through it
df_last = df_last.reset_index(drop=True)

# Put in the performance buckets
for row in range(1,len(df_last)):
    if df_last.loc[row,'points_1']<=-10: df_last.loc[row,'bucket_1'] = '.<=-10'
    elif df_last.loc[row,'points_1']<=0: df_last.loc[row,'bucket_1'] = '-10<.<=0'
    elif df_last.loc[row,'points_1']<=10: df_last.loc[row,'bucket_1'] = '0<.<=10'
    elif df_last.loc[row,'points_1']<=20: df_last.loc[row,'bucket_1'] = '10<.<=20'
    elif df_last.loc[row,'points_1']<=30: df_last.loc[row,'bucket_1'] = '20<.<=30'
    elif df_last.loc[row,'points_1']>30: df_last.loc[row,'bucket_1'] = '30<.'
    else: df_last.loc[row,'bucket_1'] = np.nan

df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7127 entries, 0 to 7126
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Dec_1     6778 non-null   float64
 1   DR_1      6778 non-null   float64
 2   H_1       6778 non-null   float64
 3   ER_1      6778 non-null   float64
 4   BB_1      6778 non-null   float64
 5   SO_1      6778 non-null   float64
 6   HR_1      6778 non-null   float64
 7   HBP_1     6778 non-null   float64
 8   FIP_1     6778 non-null   float64
 9   Outs_1    6778 non-null   float64
 10  points_1  6778 non-null   float64
 11  QS_1      6778 non-null   float64
 12  Date      7127 non-null   datetime64[ns]
 13  code      7127 non-null   object
 14  bucket_1  6778 non-null   object
dtypes: datetime64[ns](1), float64(12), object(2)
memory usage: 835.3+ KB

In [6]:
# Variable to determine the length of our rolling average
N=5

df_lastfew = pd.DataFrame()

for i in range(len(df)):
    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    code = df.loc[i,:].code

    # Given a code/date, extract the previous N games of data
    df_lastN = df.loc[(df.Date < date) & (df.code == code)].sort_values('Date').tail(N)
    
    df_lastN = df_lastN.drop(columns = ['Date', 'Opp','pitcher','code'])

    # Get the average of those N rows, find the averages of averageable series, transpose it from series to row
    df_lastN_avg = pd.DataFrame(df_lastN.mean(axis=0)).transpose()

    # Rename cols to indicate what it's the average of, and over how many games
    df_lastN_avg.columns = [f"{col}_{N}" for col in df_lastN_avg.columns]

    # Assign it to the date and code we're working with
    df_lastN_avg['Date'] = date
    df_lastN_avg['code'] = code

    # Append into the last few games df
    df_lastfew = df_lastfew.append(df_lastN_avg)

# Rest the index so that we can .loc through it
df_lastfew = df_lastfew.reset_index(drop=True)

# Put in the performance buckets
for row in range(1,len(df_lastfew)):
    if df_lastfew.loc[row,f'points_{N}']<=-10: df_lastfew.loc[row,f'bucket_{N}'] = '.<=-10'
    elif df_lastfew.loc[row,f'points_{N}']<=0: df_lastfew.loc[row,f'bucket_{N}'] = '-10<.<=0'
    elif df_lastfew.loc[row,f'points_{N}']<=10: df_lastfew.loc[row,f'bucket_{N}'] = '0<.<=10'
    elif df_lastfew.loc[row,f'points_{N}']<=20: df_lastfew.loc[row,f'bucket_{N}'] = '10<.<=20'
    elif df_lastfew.loc[row,f'points_{N}']<=30: df_lastfew.loc[row,f'bucket_{N}'] = '20<.<=30'
    elif df_lastfew.loc[row,f'points_{N}']>30: df_lastfew.loc[row,f'bucket_{N}'] = '30<.'
    else: df_lastfew.loc[row,f'bucket_{N}'] = np.nan

df_lastfew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7127 entries, 0 to 7126
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Dec_5     6778 non-null   float64
 1   DR_5      6778 non-null   float64
 2   H_5       6778 non-null   float64
 3   ER_5      6778 non-null   float64
 4   BB_5      6778 non-null   float64
 5   SO_5      6778 non-null   float64
 6   HR_5      6778 non-null   float64
 7   HBP_5     6778 non-null   float64
 8   FIP_5     6778 non-null   float64
 9   Outs_5    6778 non-null   float64
 10  points_5  6778 non-null   float64
 11  QS_5      6778 non-null   float64
 12  Date      7127 non-null   datetime64[ns]
 13  code      7127 non-null   object
 14  bucket_5  6778 non-null   object
dtypes: datetime64[ns](1), float64(12), object(2)
memory usage: 835.3+ KB

In [7]:
df_cummulative = pd.DataFrame()

for i in range(len(df)):
    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    code = df.loc[i,:].code

    # Given a code/date, extract the previous game data
    df_cummu = df.loc[(df.Date < date) & (df.code == code)].sort_values('Date')
    
    df_cummu = df_cummu.drop(columns = ['Date', 'Opp','pitcher','code'])

    # Get the average of all rows, find the averages of averageable, transpose it from series to row
    df_cummu_avg = pd.DataFrame(df_cummu.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_cummu_avg.columns = [f"{col}_all" for col in df_cummu_avg.columns]

    # Assign it to the date and code we're working with
    df_cummu_avg['Date'] = date
    df_cummu_avg['code'] = code

    # Append into the last few games df
    df_cummulative = df_cummulative.append(df_cummu_avg)

# Rest the index so that we can .loc through it
df_cummulative = df_cummulative.reset_index(drop=True)

# Put in the performance buckets
for row in range(1,len(df_cummulative)):
    if df_cummulative.loc[row,'points_all']<=-10: df_cummulative.loc[row,'bucket_all'] = '.<=-10'
    elif df_cummulative.loc[row,'points_all']<=0: df_cummulative.loc[row,'bucket_all'] = '-10<.<=0'
    elif df_cummulative.loc[row,'points_all']<=10: df_cummulative.loc[row,'bucket_all'] = '0<.<=10'
    elif df_cummulative.loc[row,'points_all']<=20: df_cummulative.loc[row,'bucket_all'] = '10<.<=20'
    elif df_cummulative.loc[row,'points_all']<=30: df_cummulative.loc[row,'bucket_all'] = '20<.<=30'
    elif df_cummulative.loc[row,'points_all']>30: df_cummulative.loc[row,'bucket_all'] = '30<.'
    else: df_cummulative.loc[row,'bucket_all'] = np.nan

df_cummulative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7127 entries, 0 to 7126
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dec_all     6778 non-null   float64
 1   DR_all      6778 non-null   float64
 2   H_all       6778 non-null   float64
 3   ER_all      6778 non-null   float64
 4   BB_all      6778 non-null   float64
 5   SO_all      6778 non-null   float64
 6   HR_all      6778 non-null   float64
 7   HBP_all     6778 non-null   float64
 8   FIP_all     6778 non-null   float64
 9   Outs_all    6778 non-null   float64
 10  points_all  6778 non-null   float64
 11  QS_all      6778 non-null   float64
 12  Date        7127 non-null   datetime64[ns]
 13  code        7127 non-null   object
 14  bucket_all  6778 non-null   object
dtypes: datetime64[ns](1), float64(12), object(2)
memory usage: 835.3+ KB

In [8]:
# Merge in all those different windows of data

# Merge in last 1 game of data
compiled_df = pd.merge(df,df_last,
                       on = ['Date','code'])

# Merge in last N games of data
compiled_df = pd.merge(compiled_df,df_lastfew,
                       on = ['Date','code'])

# Merge in all season games of data
compiled_df = pd.merge(compiled_df,df_cummulative,
                       on = ['Date','code'])

# Drop the data from that day, so we're only training on data that is known at the time before the given date
pitcher_perf = compiled_df.drop(columns = [
    'Dec', 'DR', 'H', 'ER', 'BB', 'SO',
    'HR', 'HBP', 'FIP', 'Outs', 'QS'])

# Drop NaN rows
# These rows result from asking for performance on the last 1, N games when there have been fewer than 1, N games
pitcher_perf = pitcher_perf.dropna()

pitcher_perf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6792 entries, 1 to 7140
Data columns (total 44 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        6792 non-null   datetime64[ns]
 1   Opp         6792 non-null   object
 2   points      6792 non-null   int64
 3   pitcher     6792 non-null   object
 4   code        6792 non-null   object
 5   Dec_1       6792 non-null   float64
 6   DR_1        6792 non-null   float64
 7   H_1         6792 non-null   float64
 8   ER_1        6792 non-null   float64
 9   BB_1        6792 non-null   float64
 10  SO_1        6792 non-null   float64
 11  HR_1        6792 non-null   float64
 12  HBP_1       6792 non-null   float64
 13  FIP_1       6792 non-null   float64
 14  Outs_1      6792 non-null   float64
 15  points_1    6792 non-null   float64
 16  QS_1        6792 non-null   float64
 17  bucket_1    6792 non-null   object
 18  Dec_5       6792 non-null   float64
 19  DR_5        6792 non-null   float64
 20  H_5         6792 non-null   float64
 21  ER_5        6792 non-null   float64
 22  BB_5        6792 non-null   float64
 23  SO_5        6792 non-null   float64
 24  HR_5        6792 non-null   float64
 25  HBP_5       6792 non-null   float64
 26  FIP_5       6792 non-null   float64
 27  Outs_5      6792 non-null   float64
 28  points_5    6792 non-null   float64
 29  QS_5        6792 non-null   float64
 30  bucket_5    6792 non-null   object
 31  Dec_all     6792 non-null   float64
 32  DR_all      6792 non-null   float64
 33  H_all       6792 non-null   float64
 34  ER_all      6792 non-null   float64
 35  BB_all      6792 non-null   float64
 36  SO_all      6792 non-null   float64
 37  HR_all      6792 non-null   float64
 38  HBP_all     6792 non-null   float64
 39  FIP_all     6792 non-null   float64
 40  Outs_all    6792 non-null   float64
 41  points_all  6792 non-null   float64
 42  QS_all      6792 non-null   float64
 43  bucket_all  6792 non-null   object
dtypes: datetime64[ns](1), float64(36), int64(1), object(6)
memory usage: 2.3+ MB

In [9]:
# Rest the index so that we can .loc through it
pitcher_perf = pitcher_perf.reset_index(drop=True)

## Put in buckets for actual performance to make the target
# Put in the performance buckets
for row in range(1,len(pitcher_perf)):
    if pitcher_perf.loc[row,'points']<=-10: pitcher_perf.loc[row,'bucket'] = '.<=-10'
    elif pitcher_perf.loc[row,'points']<=0: pitcher_perf.loc[row,'bucket'] = '-10<.<=0'
    elif pitcher_perf.loc[row,'points']<=10: pitcher_perf.loc[row,'bucket'] = '0<.<=10'
    elif pitcher_perf.loc[row,'points']<=20: pitcher_perf.loc[row,'bucket'] = '10<.<=20'
    elif pitcher_perf.loc[row,'points_1']<=30: pitcher_perf.loc[row,'bucket'] = '20<.<=30'
    elif pitcher_perf.loc[row,'points_1']>30: pitcher_perf.loc[row,'bucket'] = '30<.'
    else: pitcher_perf.loc[row,'bucket'] = np.nan

# Export to csv
pitcher_perf.to_csv('pitcher_previous_perf.csv',index = False)

pitcher_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6792 entries, 0 to 6791
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        6792 non-null   datetime64[ns]
 1   Opp         6792 non-null   object
 2   points      6792 non-null   int64
 3   pitcher     6792 non-null   object
 4   code        6792 non-null   object
 5   Dec_1       6792 non-null   float64
 6   DR_1        6792 non-null   float64
 7   H_1         6792 non-null   float64
 8   ER_1        6792 non-null   float64
 9   BB_1        6792 non-null   float64
 10  SO_1        6792 non-null   float64
 11  HR_1        6792 non-null   float64
 12  HBP_1       6792 non-null   float64
 13  FIP_1       6792 non-null   float64
 14  Outs_1      6792 non-null   float64
 15  points_1    6792 non-null   float64
 16  QS_1        6792 non-null   float64
 17  bucket_1    6792 non-null   object
 18  Dec_5       6792 non-null   float64
 19  DR_5        6792 non-null   float64
 20  H_5         6792 non-null   float64
 21  ER_5        6792 non-null   float64
 22  BB_5        6792 non-null   float64
 23  SO_5        6792 non-null   float64
 24  HR_5        6792 non-null   float64
 25  HBP_5       6792 non-null   float64
 26  FIP_5       6792 non-null   float64
 27  Outs_5      6792 non-null   float64
 28  points_5    6792 non-null   float64
 29  QS_5        6792 non-null   float64
 30  bucket_5    6792 non-null   object
 31  Dec_all     6792 non-null   float64
 32  DR_all      6792 non-null   float64
 33  H_all       6792 non-null   float64
 34  ER_all      6792 non-null   float64
 35  BB_all      6792 non-null   float64
 36  SO_all      6792 non-null   float64
 37  HR_all      6792 non-null   float64
 38  HBP_all     6792 non-null   float64
 39  FIP_all     6792 non-null   float64
 40  Outs_all    6792 non-null   float64
 41  points_all  6792 non-null   float64
 42  QS_all      6792 non-null   float64
 43  bucket_all  6792 non-null   object
 44  bucket      6791 non-null   object
dtypes: datetime64[ns](1), float64(36), int64(1), object(7)
memory usage: 2.3+ MB

### This is the section where for each team, before a given game, I calculate their previous performance

Things it'd be cool to add here:\
In the progress printout, maybe include the number of records in each team?\
\
Some way for me to more easily pick which variables I want to choose. Like maybe have a dictionary with stats as the keys, and booleans as the values, so I can just go through, try out different combinations.

In [10]:
# Get team codes
team_codes = pd.read_csv('team_codes.csv')
codes = team_codes['code'].tolist()

## Make last 30 days df
df = pd.DataFrame()

# For every team in our list of team codes
for i in range(round(t*len(codes))):

    # Loop through teams
    team = codes[i]

    # Request setup
    url = f'https://www.baseball-reference.com/teams/tgl.cgi?team={team}&t=b&year=2023'

    team_df = pd.read_html(url)
    team_df = pd.DataFrame((team_df[0]))

    # Add team identifier
    team_df['Team'] = team

    # Append into overall team dataframe
    df = df.append(team_df)

    # Print status
    print(f'Done: {team}')
    
    # Wait for >3 seconds b/c site limits requests to 20/min
    time.sleep(3.2)

## Now we clean the data!

# Identify key columns
keep_cols = ['Team', 'Date','PA', 'AB', 'R', 'H', 'RBI', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS']

# Select for those key columns
df = df[keep_cols]

# Drop rows that contain mid-table row headers
df = df[pd.to_numeric(df['PA'], errors='coerce').notnull()]

# Now let's make the date column usable
# Clean away situations where there's a double-header impacting the date
df['Date'] = df['Date'].str.split("(", expand = True).loc[:,0]

# Extract day from date
days = df['Date'].str.split(n=1,expand = True).loc[:,1]

# Extract month from date
months = df['Date'].str.split(n=1,expand = True).loc[:,0]

# Convert month to numerical month
months = months.str.replace('Oct','10')
months = months.str.replace('Sep','9')
months = months.str.replace('Aug','8')
months = months.str.replace('Jul','7')
months = months.str.replace('Jun','6')
months = months.str.replace('May','5')
months = months.str.replace('Apr','4')
months = months.str.replace('Mar','3')

# Create year series
df['years'] = '2023'

# Build date string
df['Date'] = df['years'] + "-" + months + "-" + days

# Drop year series
df = df.drop(columns = ['years'])

# Cast series as numeric/datetime
df = df.apply(pd.to_numeric, errors = 'ignore')
df['Date'] = pd.to_datetime(df['Date'])

df = df.reset_index(drop = True)

##
# Variable to determine the length of our rolling average
N=30

# Now let's make a df showing the average performance over the last N days

# Initialize our df
df_LN = pd.DataFrame()

for i in range(len(df)):

    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    team = df.loc[i,:].Team

    # Given a code/date, extract the previous game data
    # WHAT AM I GOING TO DO IF THERE IS NO PREVIOUS GAME DATA?!??!!
    df_lastN = df.loc[(df['Date'] < date) & (df['Team'] == team)].sort_values('Date').tail(N)

    # Get the average of those N rows, find the averages of averageable, transpose it from series to row
    df_lastN_avg = pd.DataFrame(df_lastN.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_lastN_avg.columns = [f"{col}_{N}" for col in df_lastN_avg.columns]

    # Assign it to the date and code we're working with
    df_lastN_avg['Date'] = date
    df_lastN_avg['code'] = team

    # Append into the last few games df
    df_LN = df_LN.append(df_lastN_avg)

# Drop errant team name column
df_LN = df_LN.drop(columns = [f'Team_{N}'])

# Relabel code column as true team name column
df_LN = df_LN.rename(columns={"code": "Team"})

df_LN = df_LN.reset_index(drop=True)

##

# Now let's make the season running total df
df_Lall = pd.DataFrame()

for i in range(len(df)):

    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    team = df.loc[i,:].Team

    # Given a code/date, extract the previous game data
    df_lastall = df.loc[(df['Date'] < date) & (df['Team'] == team)]

    # Get the average of those 5 rows, find the averages of averageable, transpose it from series to row
    df_lastall_avg = pd.DataFrame(df_lastall.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_lastall_avg.columns = [f"{col}_all" for col in df_lastall_avg.columns]

    # Assign it to the date and code we're working with
    df_lastall_avg['Date'] = date
    df_lastall_avg['code'] = team

    # Append into the last few games df
    df_Lall = df_Lall.append(df_lastall_avg)

# Drop errant team name column
df_Lall = df_Lall.drop(columns = ['Team_all'])

# Relabel code column as true team name column
df_Lall = df_Lall.rename(columns={"code": "Team"})

df_Lall = df_Lall.reset_index(drop=True)

##

# Now let's combine these to dataframes to make an overall 'previous performance'
opp_prev_perf = df_LN.merge(df_Lall, on = ['Team', 'Date'])

# Drop rows that are NaN bc there weren't any previous days of performance to pull (i.e., first day in window)
opp_prev_perf = opp_prev_perf.dropna()

# Export to csv
opp_prev_perf.to_csv('opp_previous_perf.csv', index = False)

print('Done')

opp_prev_perf.info()

Done: ARI
Done: ATL
Done: BAL
Done: BOS
Done: CHC
Done: CHW
Done: CIN
Done: CLE
Done: COL
Done: DET
Done: HOU
Done: KCR
Done: LAA
Done: LAD
Done: MIA
Done: MIL
Done: MIN
Done: NYM
Done: NYY
Done: OAK
Done: PHI
Done: PIT
Done: SDP
Done: SEA
Done: SFG
Done: STL
Done: TBR
Done: TEX
Done: TOR
Done: WSN
Done
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4466 entries, 1 to 4495
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PA_30    4466 non-null   float64
 1   AB_30    4466 non-null   float64
 2   R_30     4466 non-null   float64
 3   H_30     4466 non-null   float64
 4   RBI_30   4466 non-null   float64
 5   BB_30    4466 non-null   float64
 6   SO_30    4466 non-null   float64
 7   BA_30    4466 non-null   float64
 8   OBP_30   4466 non-null   float64
 9   SLG_30   4466 non-null   float64
 10  OPS_30   4466 non-null   float64
 11  Date     4466 non-null   datetime64[ns]
 12  Team     4466 non-null   object
 13  PA_all   4466 non-null   float64
 14  AB_all   4466 non-null   float64
 15  R_all    4466 non-null   float64
 16  H_all    4466 non-null   float64
 17  RBI_all  4466 non-null   float64
 18  BB_all   4466 non-null   float64
 19  SO_all   4466 non-null   float64
 20  BA_all   4466 non-null   float64
 21  OBP_all  4466 non-null   float64
 22  SLG_all  4466 non-null   float64
 23  OPS_all  4466 non-null   float64
dtypes: datetime64[ns](1), float64(22), object(1)
memory usage: 872.3+ KB

This is where we make the combined df of all data to train on

In [11]:
# # Read in opponent performance
# probables_df = probables

# Read in opponent performance
opp_perf_df = opp_prev_perf

# Extract column names
cols = opp_perf_df.columns

# Rearrange columns to get date/team at front
cols = ['Date', 'Team',
        'PA_30', 'AB_30', 'R_30', 'H_30', 'RBI_30', 'BB_30',
        'SO_30', 'BA_30','OBP_30', 'SLG_30', 'OPS_30',
        'PA_all', 'AB_all','R_all', 'H_all', 'RBI_all', 'BB_all',
        'SO_all', 'BA_all', 'OBP_all','SLG_all', 'OPS_all']

opp_perf_df = opp_perf_df[cols]

# Read in pitcher performance
pitcher_perf_df = pitcher_perf

# Perform merge
df = pitcher_perf_df.merge(opp_perf_df,
                           left_on = ['Date', 'Opp'], right_on = ['Date', 'Team'],
                           suffixes = ('_pitcher', '_opp')
                          )

df = df.dropna()

# Reorganize columns, drop points since it's a part of the target
cols = ['bucket', 'Date', 'Opp', 'pitcher', 'code', 'Dec_1', 'DR_1', 'H_1',
       'ER_1', 'BB_1', 'SO_1', 'HR_1', 'HBP_1', 'FIP_1', 'Outs_1', 'points_1',
       'QS_1', 'bucket_1', 'Dec_5', 'DR_5', 'H_5', 'ER_5', 'BB_5', 'SO_5',
       'HR_5', 'HBP_5', 'FIP_5', 'Outs_5', 'points_5', 'QS_5', 'bucket_5',
       'Dec_all', 'DR_all', 'H_all_pitcher', 'ER_all', 'BB_all_pitcher',
       'SO_all_pitcher', 'HR_all', 'HBP_all', 'FIP_all', 'Outs_all',
       'points_all', 'QS_all', 'bucket_all', 'PA_30',
       'AB_30', 'R_30', 'H_30', 'RBI_30', 'BB_30', 'SO_30', 'BA_30', 'OBP_30',
       'SLG_30', 'OPS_30', 'PA_all', 'AB_all', 'R_all', 'H_all_opp', 'RBI_all',
       'BB_all_opp', 'SO_all_opp', 'BA_all', 'OBP_all', 'SLG_all', 'OPS_all']


df = df[cols]

df.to_csv('training_data.csv', index=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7397 entries, 1 to 7397
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bucket          7397 non-null   object
 1   Date            7397 non-null   datetime64[ns]
 2   Opp             7397 non-null   object
 3   pitcher         7397 non-null   object
 4   code            7397 non-null   object
 5   Dec_1           7397 non-null   float64
 6   DR_1            7397 non-null   float64
 7   H_1             7397 non-null   float64
 8   ER_1            7397 non-null   float64
 9   BB_1            7397 non-null   float64
 10  SO_1            7397 non-null   float64
 11  HR_1            7397 non-null   float64
 12  HBP_1           7397 non-null   float64
 13  FIP_1           7397 non-null   float64
 14  Outs_1          7397 non-null   float64
 15  points_1        7397 non-null   float64
 16  QS_1            7397 non-null   float64
 17  bucket_1        7397 non-null   object
 18  Dec_5           7397 non-null   float64
 19  DR_5            7397 non-null   float64
 20  H_5             7397 non-null   float64
 21  ER_5            7397 non-null   float64
 22  BB_5            7397 non-null   float64
 23  SO_5            7397 non-null   float64
 24  HR_5            7397 non-null   float64
 25  HBP_5           7397 non-null   float64
 26  FIP_5           7397 non-null   float64
 27  Outs_5          7397 non-null   float64
 28  points_5        7397 non-null   float64
 29  QS_5            7397 non-null   float64
 30  bucket_5        7397 non-null   object
 31  Dec_all         7397 non-null   float64
 32  DR_all          7397 non-null   float64
 33  H_all_pitcher   7397 non-null   float64
 34  ER_all          7397 non-null   float64
 35  BB_all_pitcher  7397 non-null   float64
 36  SO_all_pitcher  7397 non-null   float64
 37  HR_all          7397 non-null   float64
 38  HBP_all         7397 non-null   float64
 39  FIP_all         7397 non-null   float64
 40  Outs_all        7397 non-null   float64
 41  points_all      7397 non-null   float64
 42  QS_all          7397 non-null   float64
 43  bucket_all      7397 non-null   object
 44  PA_30           7397 non-null   float64
 45  AB_30           7397 non-null   float64
 46  R_30            7397 non-null   float64
 47  H_30            7397 non-null   float64
 48  RBI_30          7397 non-null   float64
 49  BB_30           7397 non-null   float64
 50  SO_30           7397 non-null   float64
 51  BA_30           7397 non-null   float64
 52  OBP_30          7397 non-null   float64
 53  SLG_30          7397 non-null   float64
 54  OPS_30          7397 non-null   float64
 55  PA_all          7397 non-null   float64
 56  AB_all          7397 non-null   float64
 57  R_all           7397 non-null   float64
 58  H_all_opp       7397 non-null   float64
 59  RBI_all         7397 non-null   float64
 60  BB_all_opp      7397 non-null   float64
 61  SO_all_opp      7397 non-null   float64
 62  BA_all          7397 non-null   float64
 63  OBP_all         7397 non-null   float64
 64  SLG_all         7397 non-null   float64
 65  OPS_all         7397 non-null   float64
dtypes: datetime64[ns](1), float64(58), object(7)
memory usage: 3.8+ MB

## This is where we build the prediction input dataset, which cannot be skipped, but is much shorter.

This is the section where I pull the list of probable pitchers from b-ref

In [12]:
# Request setup
url = "https://www.baseball-reference.com/previews/"

with urllib.request.urlopen(url) as response:
    html = response.read()

soup = BeautifulSoup(html, 'html.parser')

# Get the list of probables
probables = []
probables = pd.DataFrame()

# We're going to loop through this list of matchups
matchups = soup.find_all('div', class_='game_summary nohover')

# For each matchup in the full list of matchups
for matchup in matchups:

    # Get the first pitcher's name
    p1_name = matchup.find_all('a')[3].text

    # Get the first pitcher's code
    try: p1_code = matchup.find_all('a')[3].get('href').split("/")[5].split(".")[0]
    except: p1_code = np.nan

    # Get the first pitcher's team
    team1 = matchup.find_all('strong')[0].text

    # Get the second pitcher's name
    try: p2_name = matchup.find_all('a')[4].text
    except: p2_name = np.nan

    # Get the second pitcher's code
    try: p2_code = matchup.find_all('a')[4].get('href').split("/")[5].split(".")[0]
    except: p2_code = np.nan

    # Get the second pitcher's team
    # Had to add a function that handles if there is a debut in the matchup,
    # Which would otherwise change the list of 'strong' divs in the matchup
    debut_adj = math.ceil(len(matchup.find_all('strong'))/2)
    try: team2 = matchup.find_all('strong')[debut_adj].text
    except: team2 = np.nan

    # Create a dictionary for the first pitcher and their matchup
    pitcher1 = {
        'date':date.today(),
        'name':p1_name,
        'code':p1_code,
        'for':team1,
        'against':team2
    }

    # Create a dictionary for the second pitcher and their matchup
    pitcher2 = {
        'date':date.today(),
        'name':p2_name,
        'code':p2_code,
        'for':team2,
        'against':team1
    }

    # Put both pitchers into a list of probable matchups, separately
    probables = probables.append(pitcher1, ignore_index=True)
    probables = probables.append(pitcher2, ignore_index=True)

# Export to csv
probables.to_csv('probables.csv',index = False)

probables

                         date            name       code  for against
0  2023-09-14 17:43:52.530992     Josiah Gray   grayjo03  WSN     PIT
1  2023-09-14 17:43:52.531048    Mitch Keller  kellemi03  PIT     WSN
2  2023-09-14 17:43:52.535779       Derek Law    lawde01  CIN     DET
3  2023-09-14 17:43:52.535800     Reese Olson  olsonre01  DET     CIN
4  2023-09-14 17:43:52.539440    Michael King   kingmi01  NYY     BOS
5  2023-09-14 17:43:52.539458    Tanner Houck  houckta01  BOS     NYY
6  2023-09-14 17:43:52.542402      Eury Pérez  perezeu02  MIA     MIL
7  2023-09-14 17:43:52.542418   Adrian Houser  housead01  MIL     MIA
8  2023-09-14 17:43:52.545276   Merrill Kelly  kellyme01  ARI     NYM
9  2023-09-14 17:43:52.545293     Kodai Senga  sengako01  NYM     ARI
10 2023-09-14 17:43:52.548672  Nathan Eovaldi  eovalna01  TEX     TOR
11 2023-09-14 17:43:52.548692   Kevin Gausman  gausmke01  TOR     TEX
12 2023-09-14 17:43:52.551330    Aaron Civale  civalaa01  TBR     BAL
13 2023-09-14 17:43:52.551344    Kyle Bradish  bradiky01  BAL     TBR
14 2023-09-14 17:43:52.553821  Clarke Schmidt  schmicl01  NYY     NaN
15 2023-09-14 17:43:52.553835             NaN        NaN  NaN     NYY
16 2023-09-14 17:43:52.556743     Kenta Maeda  maedake01  MIN     CHW
17 2023-09-14 17:43:52.556760      José Ureña  urenajo01  CHW     MIN
18 2023-09-14 17:43:52.560090      Logan Webb   webblo01  SFG     COL
19 2023-09-14 17:43:52.560111  Chase Anderson  anderch01  COL     SFG

This is the section where I scrape individual starting pitchers' individual game performance

In [13]:
# This is a dataset drawn from the probable pitchers scrape
all_starters = probables[['name', 'code']]
all_starters = all_starters.dropna()

# Initialize df
pitcher_data = pd.DataFrame()

# For every starter we have
for i in range(round(t*len(all_starters))):
    try:
        code = all_starters.loc[i,'code']
        name = all_starters.loc[i,'name']

        # Request setup
        url = f'https://www.baseball-reference.com/players/gl.fcgi?id={code}&t=p&year=2023'
        df = pd.read_html(url)
        df = pd.DataFrame(df[0])

        # # DATA CLEANING # #

        # Drop weird rows
        df = df[pd.to_numeric(df['Rk'], errors = 'coerce').notnull()]

        # Reset index after dropping some rows
        df = df.reset_index()

        # Identify desired columns to keep and drop others
        keep_cols = ['Date','Opp','Dec', 'DR',
                     'IP', 'H', 'ER', 'BB', 'SO', 'HR', 'HBP',
                     'FIP']

        df = df[keep_cols]

        # Now let's make the date column usable
        # Clean away situations where there's a double-header impacting the date
        df['Date'] = df['Date'].str.split("(", expand = True).loc[:,0]

        # Extract day from date
        days = df['Date'].str.split(n=1,expand = True).loc[:,1]

        # Extract month from date
        months = df['Date'].str.split(n=1,expand = True).loc[:,0]

        # Convert month to numerical month
        months = months.str.replace('Oct','10')
        months = months.str.replace('Sep','9')
        months = months.str.replace('Aug','8')
        months = months.str.replace('Jul','7')
        months = months.str.replace('Jun','6')
        months = months.str.replace('May','5')
        months = months.str.replace('Apr','4')
        months = months.str.replace('Mar','3')

        # Create year series
        df['years'] = '2023'

        # Build date string
        df['Date'] = df['years'] + "-" + months + "-" + days

        # Drop year series
        df = df.drop(columns = ['years'])

        # Clean Decision series
        df['Dec'] = df['Dec'].str[0]

        df['Dec'] = df['Dec'].fillna('0')

        df['Dec'] = df['Dec'].str.replace('W','1')
        df['Dec'] = df['Dec'].str.replace('L','-1')
        df['Dec'] = df['Dec'].str.replace('B','-1')
        df['Dec'] = df['Dec'].str.replace('S','2')
        df['Dec'] = df['Dec'].str.replace('H','0')

        # Make everything a string before the step below. Don't worry, we'll fix this later on.
        # This is because some of our data processing functions require string inputs,
        # and our data scraper might accidentally infer some things as numbers.
        # We have to do this
        df = df.applymap(str)

        # Make outs series, convert IP to Outs, then drop IP series
        whole = df['IP'].str.split(".", expand = True)[0].astype('int')
        part = df['IP'].str.split(".", expand = True)[1].astype('int')

        df['Outs'] = 3*whole + part

        df = df.drop(columns = ['IP'])

        # Sometimes my DR column gets interpreted as a float, that gets turned into a string,
        # that can't be turned directly into an int. But it can be interpreted as a float, from a string,
        # so we do that first, and then we can convert it to an int without issue.
        df['DR'] = df['DR'].astype('float')

        # Cast numerical datatypes as numbers
        df = df.astype({
            'Dec':'int',
            'DR':'int',
            'H':'int',
            'ER':'int',
            'BB':'int',
            'SO':'int',
            'HR':'int',
            'HBP':'int',
            'FIP':'float',
            'Outs':'int',
        })

        # Convert date string to date type
        df['Date'] = pd.to_datetime(df['Date'])

        # Calculate fantasy points
        df['points'] = 3*df['Dec'] - df['H'] - 2*df['ER'] - df['BB'] + df['SO'] - df['HBP'] + df['Outs']

        # Create quality start series QS
        for row in range(1,len(df)):
            if df.loc[row,'ER']<=3 and df.loc[row,'Outs']>=18: df.loc[row,'QS'] = 1
            else: df.loc[row,'QS'] = 0

        # Add in pitcher name and code
        df['pitcher'] = name
        df['code'] = code

        # Drop starts following 30+ days rest
        df = df[df['DR'] <30]

        # Add it to the overall pitcher data df
        pitcher_data = pitcher_data.append(df, ignore_index=True)

        # Let me know we're done with that player
        print(f'Done adding {name} {i}/{len(all_starters)}')

        # Wait for 3.2 seconds, b/c baseball-reference has a 20 request/min limit
        time.sleep(3.2)
    except: pass

# Export to csv
pitcher_data.to_csv('STARTERS_pitcher_data.csv',index = False)

print("Done")

pitcher_data

Done adding Josiah Gray 0/19
Done adding Mitch Keller 1/19
Done adding Derek Law 2/19
Done adding Reese Olson 3/19
Done adding Michael King 4/19
Done adding Tanner Houck 5/19
Done adding Eury Pérez 6/19
Done adding Adrian Houser 7/19
Done adding Merrill Kelly 8/19
Done adding Kodai Senga 9/19
Done adding Nathan Eovaldi 10/19
Done adding Kevin Gausman 11/19
Done adding Aaron Civale 12/19
Done adding Kyle Bradish 13/19
Done adding Clarke Schmidt 14/19
Done adding Kenta Maeda 16/19
Done adding José Ureña 17/19
Done adding Logan Webb 18/19
Done

,Date,Opp,Dec,DR,H,ER,BB,SO,HR,HBP,FIP,Outs,points,QS,pitcher,code
0,2023-04-06,COL,-1,4,8,1,1,6,0,0,5.80,18,10,1.0,Josiah Gray,grayjo03
1,2023-04-11,LAA,-1,4,4,2,2,3,1,2,6.08,17,5,0.0,Josiah Gray,grayjo03
2,2023-04-18,BAL,-1,6,4,1,4,3,0,0,5.70,15,5,0.0,Josiah Gray,grayjo03
3,2023-04-25,NYM,1,6,4,0,1,9,0,0,4.63,18,25,1.0,Josiah Gray,grayjo03
4,2023-04-30,PIT,1,4,3,1,3,6,0,0,4.30,18,19,1.0,Josiah Gray,grayjo03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,2023-08-19,ATL,0,5,9,4,0,5,1,0,3.26,18,6,0.0,Logan Webb,webblo01
420,2023-08-25,ATL,-1,5,6,5,1,1,1,0,3.34,16,-3,0.0,Logan Webb,webblo01
421,2023-08-30,CIN,-1,4,7,2,0,6,0,0,3.27,18,10,1.0,Logan Webb,webblo01
422,2023-09-04,CHC,-1,4,5,3,1,4,1,0,3.31,20,9,1.0,Logan Webb,webblo01
423,2023-09-09,COL,1,4,3,0,1,4,0,0,3.28,18,21,1.0,Logan Webb,webblo01

This is the notebook where I take pitcher starting performance, and create a df of "previous" performance before each start, for each pitcher.

In [14]:
df = pitcher_data

# This is me getting a df of how the given pitcher performed
# in the outing immediately before the given date
df_last = pd.DataFrame()

for i in range(len(df)):
    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    code = df.loc[i,:].code

    # Given a code/date, extract the previous game data
    df_last1 = df.loc[(df.Date < date) & (df.code == code)].sort_values('Date').tail(1)
    
    df_last1 = df_last1.drop(columns = ['Date', 'Opp','pitcher','code'])

    # Get the average of those 1 rows, find the averages of averageable, transpose it from series to row
    df_last1_avg = pd.DataFrame(df_last1.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_last1_avg.columns = [f"{col}_1" for col in df_last1_avg.columns]

    # Assign it to the date and code we're working with
    df_last1_avg['Date'] = date
    df_last1_avg['code'] = code

    # Append into the last few games df
    df_last = df_last.append(df_last1_avg)

# Rest the index so that we can .loc through it
df_last = df_last.reset_index(drop=True)

# Put in the performance buckets
for row in range(1,len(df_last)):
    if df_last.loc[row,'points_1']<=-10: df_last.loc[row,'bucket_1'] = '.<=-10'
    elif df_last.loc[row,'points_1']<=0: df_last.loc[row,'bucket_1'] = '-10<.<=0'
    elif df_last.loc[row,'points_1']<=10: df_last.loc[row,'bucket_1'] = '0<.<=10'
    elif df_last.loc[row,'points_1']<=20: df_last.loc[row,'bucket_1'] = '10<.<=20'
    elif df_last.loc[row,'points_1']<=30: df_last.loc[row,'bucket_1'] = '20<.<=30'
    elif df_last.loc[row,'points_1']>30: df_last.loc[row,'bucket_1'] = '30<.'
    else: df_last.loc[row,'bucket_1'] = np.nan

df_last.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Dec_1     406 non-null    float64
 1   DR_1      406 non-null    float64
 2   H_1       406 non-null    float64
 3   ER_1      406 non-null    float64
 4   BB_1      406 non-null    float64
 5   SO_1      406 non-null    float64
 6   HR_1      406 non-null    float64
 7   HBP_1     406 non-null    float64
 8   FIP_1     406 non-null    float64
 9   Outs_1    406 non-null    float64
 10  points_1  406 non-null    float64
 11  QS_1      406 non-null    float64
 12  Date      424 non-null    datetime64[ns]
 13  code      424 non-null    object
 14  bucket_1  406 non-null    object
dtypes: datetime64[ns](1), float64(12), object(2)
memory usage: 49.8+ KB

In [15]:
# Variable to determine the length of our rolling average
N=5

df_lastfew = pd.DataFrame()

for i in range(len(df)):
    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    code = df.loc[i,:].code

    # Given a code/date, extract the previous N games of data
    df_lastN = df.loc[(df.Date < date) & (df.code == code)].sort_values('Date').tail(N)
    
    df_lastN = df_lastN.drop(columns = ['Date', 'Opp','pitcher','code'])

    # Get the average of those N rows, find the averages of averageable series, transpose it from series to row
    df_lastN_avg = pd.DataFrame(df_lastN.mean(axis=0)).transpose()

    # Rename cols to indicate what it's the average of, and over how many games
    df_lastN_avg.columns = [f"{col}_{N}" for col in df_lastN_avg.columns]

    # Assign it to the date and code we're working with
    df_lastN_avg['Date'] = date
    df_lastN_avg['code'] = code

    # Append into the last few games df
    df_lastfew = df_lastfew.append(df_lastN_avg)

# Rest the index so that we can .loc through it
df_lastfew = df_lastfew.reset_index(drop=True)

# Put in the performance buckets
for row in range(1,len(df_lastfew)):
    if df_lastfew.loc[row,f'points_{N}']<=-10: df_lastfew.loc[row,f'bucket_{N}'] = '.<=-10'
    elif df_lastfew.loc[row,f'points_{N}']<=0: df_lastfew.loc[row,f'bucket_{N}'] = '-10<.<=0'
    elif df_lastfew.loc[row,f'points_{N}']<=10: df_lastfew.loc[row,f'bucket_{N}'] = '0<.<=10'
    elif df_lastfew.loc[row,f'points_{N}']<=20: df_lastfew.loc[row,f'bucket_{N}'] = '10<.<=20'
    elif df_lastfew.loc[row,f'points_{N}']<=30: df_lastfew.loc[row,f'bucket_{N}'] = '20<.<=30'
    elif df_lastfew.loc[row,f'points_{N}']>30: df_lastfew.loc[row,f'bucket_{N}'] = '30<.'
    else: df_lastfew.loc[row,f'bucket_{N}'] = np.nan

df_lastfew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Dec_5     406 non-null    float64
 1   DR_5      406 non-null    float64
 2   H_5       406 non-null    float64
 3   ER_5      406 non-null    float64
 4   BB_5      406 non-null    float64
 5   SO_5      406 non-null    float64
 6   HR_5      406 non-null    float64
 7   HBP_5     406 non-null    float64
 8   FIP_5     406 non-null    float64
 9   Outs_5    406 non-null    float64
 10  points_5  406 non-null    float64
 11  QS_5      406 non-null    float64
 12  Date      424 non-null    datetime64[ns]
 13  code      424 non-null    object
 14  bucket_5  406 non-null    object
dtypes: datetime64[ns](1), float64(12), object(2)
memory usage: 49.8+ KB

In [16]:
df_cummulative = pd.DataFrame()

for i in range(len(df)):
    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    code = df.loc[i,:].code

    # Given a code/date, extract the previous game data
    df_cummu = df.loc[(df.Date < date) & (df.code == code)].sort_values('Date')
    
    df_cummu = df_cummu.drop(columns = ['Date', 'Opp','pitcher','code'])

    # Get the average of all rows, find the averages of averageable, transpose it from series to row
    df_cummu_avg = pd.DataFrame(df_cummu.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_cummu_avg.columns = [f"{col}_all" for col in df_cummu_avg.columns]

    # Assign it to the date and code we're working with
    df_cummu_avg['Date'] = date
    df_cummu_avg['code'] = code

    # Append into the last few games df
    df_cummulative = df_cummulative.append(df_cummu_avg)

# Rest the index so that we can .loc through it
df_cummulative = df_cummulative.reset_index(drop=True)

# Put in the performance buckets
for row in range(1,len(df_cummulative)):
    if df_cummulative.loc[row,'points_all']<=-10: df_cummulative.loc[row,'bucket_all'] = '.<=-10'
    elif df_cummulative.loc[row,'points_all']<=0: df_cummulative.loc[row,'bucket_all'] = '-10<.<=0'
    elif df_cummulative.loc[row,'points_all']<=10: df_cummulative.loc[row,'bucket_all'] = '0<.<=10'
    elif df_cummulative.loc[row,'points_all']<=20: df_cummulative.loc[row,'bucket_all'] = '10<.<=20'
    elif df_cummulative.loc[row,'points_all']<=30: df_cummulative.loc[row,'bucket_all'] = '20<.<=30'
    elif df_cummulative.loc[row,'points_all']>30: df_cummulative.loc[row,'bucket_all'] = '30<.'
    else: df_cummulative.loc[row,'bucket_all'] = np.nan

df_cummulative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dec_all     406 non-null    float64
 1   DR_all      406 non-null    float64
 2   H_all       406 non-null    float64
 3   ER_all      406 non-null    float64
 4   BB_all      406 non-null    float64
 5   SO_all      406 non-null    float64
 6   HR_all      406 non-null    float64
 7   HBP_all     406 non-null    float64
 8   FIP_all     406 non-null    float64
 9   Outs_all    406 non-null    float64
 10  points_all  406 non-null    float64
 11  QS_all      406 non-null    float64
 12  Date        424 non-null    datetime64[ns]
 13  code        424 non-null    object
 14  bucket_all  406 non-null    object
dtypes: datetime64[ns](1), float64(12), object(2)
memory usage: 49.8+ KB

In [17]:
# Merge in all those different windows of data

# Merge in last 1 game of data
compiled_df = pd.merge(df,df_last,
                       on = ['Date','code'])

# Merge in last N games of data
compiled_df = pd.merge(compiled_df,df_lastfew,
                       on = ['Date','code'])

# Merge in all season games of data
compiled_df = pd.merge(compiled_df,df_cummulative,
                       on = ['Date','code'])

# Drop the data from that day, so we're only training on data that is known at the time before the given date
pitcher_perf = compiled_df.drop(columns = [
    'Dec', 'DR', 'H', 'ER', 'BB', 'SO',
    'HR', 'HBP', 'FIP', 'Outs', 'QS'])

# Drop NaN rows
# These rows result from asking for performance on the last 1, N games when there have been fewer than 1, N games
pitcher_perf = pitcher_perf.dropna()

pitcher_perf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 1 to 423
Data columns (total 44 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        406 non-null    datetime64[ns]
 1   Opp         406 non-null    object
 2   points      406 non-null    int64
 3   pitcher     406 non-null    object
 4   code        406 non-null    object
 5   Dec_1       406 non-null    float64
 6   DR_1        406 non-null    float64
 7   H_1         406 non-null    float64
 8   ER_1        406 non-null    float64
 9   BB_1        406 non-null    float64
 10  SO_1        406 non-null    float64
 11  HR_1        406 non-null    float64
 12  HBP_1       406 non-null    float64
 13  FIP_1       406 non-null    float64
 14  Outs_1      406 non-null    float64
 15  points_1    406 non-null    float64
 16  QS_1        406 non-null    float64
 17  bucket_1    406 non-null    object
 18  Dec_5       406 non-null    float64
 19  DR_5        406 non-null    float64
 20  H_5         406 non-null    float64
 21  ER_5        406 non-null    float64
 22  BB_5        406 non-null    float64
 23  SO_5        406 non-null    float64
 24  HR_5        406 non-null    float64
 25  HBP_5       406 non-null    float64
 26  FIP_5       406 non-null    float64
 27  Outs_5      406 non-null    float64
 28  points_5    406 non-null    float64
 29  QS_5        406 non-null    float64
 30  bucket_5    406 non-null    object
 31  Dec_all     406 non-null    float64
 32  DR_all      406 non-null    float64
 33  H_all       406 non-null    float64
 34  ER_all      406 non-null    float64
 35  BB_all      406 non-null    float64
 36  SO_all      406 non-null    float64
 37  HR_all      406 non-null    float64
 38  HBP_all     406 non-null    float64
 39  FIP_all     406 non-null    float64
 40  Outs_all    406 non-null    float64
 41  points_all  406 non-null    float64
 42  QS_all      406 non-null    float64
 43  bucket_all  406 non-null    object
dtypes: datetime64[ns](1), float64(36), int64(1), object(6)
memory usage: 142.7+ KB

In [18]:
# Rest the index so that we can .loc through it
pitcher_perf = pitcher_perf.reset_index(drop=True)

## Put in buckets for actual performance to make the target
# Put in the performance buckets
for row in range(1,len(pitcher_perf)):
    if pitcher_perf.loc[row,'points']<=-10: pitcher_perf.loc[row,'bucket'] = '.<=-10'
    elif pitcher_perf.loc[row,'points']<=0: pitcher_perf.loc[row,'bucket'] = '-10<.<=0'
    elif pitcher_perf.loc[row,'points']<=10: pitcher_perf.loc[row,'bucket'] = '0<.<=10'
    elif pitcher_perf.loc[row,'points']<=20: pitcher_perf.loc[row,'bucket'] = '10<.<=20'
    elif pitcher_perf.loc[row,'points_1']<=30: pitcher_perf.loc[row,'bucket'] = '20<.<=30'
    elif pitcher_perf.loc[row,'points_1']>30: pitcher_perf.loc[row,'bucket'] = '30<.'
    else: pitcher_perf.loc[row,'bucket'] = np.nan

# Export to csv
pitcher_perf.to_csv('STARTERS_pitcher_previous_perf.csv',index = False)

pitcher_perf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 45 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        406 non-null    datetime64[ns]
 1   Opp         406 non-null    object
 2   points      406 non-null    int64
 3   pitcher     406 non-null    object
 4   code        406 non-null    object
 5   Dec_1       406 non-null    float64
 6   DR_1        406 non-null    float64
 7   H_1         406 non-null    float64
 8   ER_1        406 non-null    float64
 9   BB_1        406 non-null    float64
 10  SO_1        406 non-null    float64
 11  HR_1        406 non-null    float64
 12  HBP_1       406 non-null    float64
 13  FIP_1       406 non-null    float64
 14  Outs_1      406 non-null    float64
 15  points_1    406 non-null    float64
 16  QS_1        406 non-null    float64
 17  bucket_1    406 non-null    object
 18  Dec_5       406 non-null    float64
 19  DR_5        406 non-null    float64
 20  H_5         406 non-null    float64
 21  ER_5        406 non-null    float64
 22  BB_5        406 non-null    float64
 23  SO_5        406 non-null    float64
 24  HR_5        406 non-null    float64
 25  HBP_5       406 non-null    float64
 26  FIP_5       406 non-null    float64
 27  Outs_5      406 non-null    float64
 28  points_5    406 non-null    float64
 29  QS_5        406 non-null    float64
 30  bucket_5    406 non-null    object
 31  Dec_all     406 non-null    float64
 32  DR_all      406 non-null    float64
 33  H_all       406 non-null    float64
 34  ER_all      406 non-null    float64
 35  BB_all      406 non-null    float64
 36  SO_all      406 non-null    float64
 37  HR_all      406 non-null    float64
 38  HBP_all     406 non-null    float64
 39  FIP_all     406 non-null    float64
 40  Outs_all    406 non-null    float64
 41  points_all  406 non-null    float64
 42  QS_all      406 non-null    float64
 43  bucket_all  406 non-null    object
 44  bucket      405 non-null    object
dtypes: datetime64[ns](1), float64(36), int64(1), object(7)
memory usage: 142.9+ KB

This is the section where for each team, before a given game, I calculate their previous performance

In [19]:
# Get team codes
team_codes = pd.read_csv('team_codes.csv')
codes = team_codes['code'].tolist()

## Make last 30 days df
df = pd.DataFrame()

# For every team in our list of team codes
for i in range(round(t*len(codes))):

    # Loop through teams
    team = codes[i]

    # Request setup
    url = f'https://www.baseball-reference.com/teams/tgl.cgi?team={team}&t=b&year=2023'

    team_df = pd.read_html(url)
    team_df = pd.DataFrame((team_df[0]))

    # Add team identifier
    team_df['Team'] = team

    # Append into overall team dataframe
    df = df.append(team_df)

    # Print status
    print(f'Done: {team}')
    
    # Wait for >3 seconds b/c site limits requests to 20/min
    time.sleep(3.2)

## Now we clean the data!

# Identify key columns
keep_cols = ['Team', 'Date','PA', 'AB', 'R', 'H', 'RBI', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS']

# Select for those key columns
df = df[keep_cols]

# Drop rows that contain mid-table row headers
df = df[pd.to_numeric(df['PA'], errors='coerce').notnull()]

# Now let's make the date column usable
# Clean away situations where there's a double-header impacting the date
df['Date'] = df['Date'].str.split("(", expand = True).loc[:,0]

# Extract day from date
days = df['Date'].str.split(n=1,expand = True).loc[:,1]

# Extract month from date
months = df['Date'].str.split(n=1,expand = True).loc[:,0]

# Convert month to numerical month
months = months.str.replace('Oct','10')
months = months.str.replace('Sep','9')
months = months.str.replace('Aug','8')
months = months.str.replace('Jul','7')
months = months.str.replace('Jun','6')
months = months.str.replace('May','5')
months = months.str.replace('Apr','4')
months = months.str.replace('Mar','3')

# Create year series
df['years'] = '2023'

# Build date string
df['Date'] = df['years'] + "-" + months + "-" + days

# Drop year series
df = df.drop(columns = ['years'])

# Cast series as numeric/datetime
df = df.apply(pd.to_numeric, errors = 'ignore')
df['Date'] = pd.to_datetime(df['Date'])

df = df.reset_index(drop = True)

##
# Variable to determine the length of our rolling average
N=30

# Now let's make a df showing the average performance over the last N days

# Initialize our df
df_LN = pd.DataFrame()

for i in range(len(df)):

    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    team = df.loc[i,:].Team

    # Given a code/date, extract the previous game data
    # WHAT AM I GOING TO DO IF THERE IS NO PREVIOUS GAME DATA?!??!!
    df_lastN = df.loc[(df['Date'] < date) & (df['Team'] == team)].sort_values('Date').tail(N)

    # Get the average of those N rows, find the averages of averageable, transpose it from series to row
    df_lastN_avg = pd.DataFrame(df_lastN.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_lastN_avg.columns = [f"{col}_{N}" for col in df_lastN_avg.columns]

    # Assign it to the date and code we're working with
    df_lastN_avg['Date'] = date
    df_lastN_avg['code'] = team

    # Append into the last few games df
    df_LN = df_LN.append(df_lastN_avg)

# Drop errant team name column
df_LN = df_LN.drop(columns = [f'Team_{N}'])

# Relabel code column as true team name column
df_LN = df_LN.rename(columns={"code": "Team"})

df_LN = df_LN.reset_index(drop=True)

##

# Now let's make the season running total df
df_Lall = pd.DataFrame()

for i in range(len(df)):

    # For a given row i, extract the code and date for that row
    date = df.loc[i,:].Date
    team = df.loc[i,:].Team

    # Given a code/date, extract the previous game data
    df_lastall = df.loc[(df['Date'] < date) & (df['Team'] == team)]

    # Get the average of those 5 rows, find the averages of averageable, transpose it from series to row
    df_lastall_avg = pd.DataFrame(df_lastall.mean(axis=0)).transpose()

    # Rename cols to indicate
    df_lastall_avg.columns = [f"{col}_all" for col in df_lastall_avg.columns]

    # Assign it to the date and code we're working with
    df_lastall_avg['Date'] = date
    df_lastall_avg['code'] = team

    # Append into the last few games df
    df_Lall = df_Lall.append(df_lastall_avg)

# Drop errant team name column
df_Lall = df_Lall.drop(columns = ['Team_all'])

# Relabel code column as true team name column
df_Lall = df_Lall.rename(columns={"code": "Team"})

df_Lall = df_Lall.reset_index(drop=True)

##

# Now let's combine these to dataframes to make an overall 'previous performance'
opp_prev_perf = df_LN.merge(df_Lall, on = ['Team', 'Date'])

# Drop rows that are NaN bc there weren't any previous days of performance to pull (i.e., first day in window)
opp_prev_perf = opp_prev_perf.dropna()

# Export to csv
opp_prev_perf.to_csv('STARTERS_opp_previous_perf.csv', index = False)

print('Done')

opp_prev_perf.info()

Done: ARI
Done: ATL
Done: BAL
Done: BOS
Done: CHC
Done: CHW
Done: CIN
Done: CLE
Done: COL
Done: DET
Done: HOU
Done: KCR
Done: LAA
Done: LAD
Done: MIA
Done: MIL
Done: MIN
Done: NYM
Done: NYY
Done: OAK
Done: PHI
Done: PIT
Done: SDP
Done: SEA
Done: SFG
Done: STL
Done: TBR
Done: TEX
Done: TOR
Done: WSN
Done
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4466 entries, 1 to 4495
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PA_30    4466 non-null   float64
 1   AB_30    4466 non-null   float64
 2   R_30     4466 non-null   float64
 3   H_30     4466 non-null   float64
 4   RBI_30   4466 non-null   float64
 5   BB_30    4466 non-null   float64
 6   SO_30    4466 non-null   float64
 7   BA_30    4466 non-null   float64
 8   OBP_30   4466 non-null   float64
 9   SLG_30   4466 non-null   float64
 10  OPS_30   4466 non-null   float64
 11  Date     4466 non-null   datetime64[ns]
 12  Team     4466 non-null   object
 13  PA_all   4466 non-null   float64
 14  AB_all   4466 non-null   float64
 15  R_all    4466 non-null   float64
 16  H_all    4466 non-null   float64
 17  RBI_all  4466 non-null   float64
 18  BB_all   4466 non-null   float64
 19  SO_all   4466 non-null   float64
 20  BA_all   4466 non-null   float64
 21  OBP_all  4466 non-null   float64
 22  SLG_all  4466 non-null   float64
 23  OPS_all  4466 non-null   float64
dtypes: datetime64[ns](1), float64(22), object(1)
memory usage: 872.3+ KB

This is where we make the combined df of all data to predict from

In [25]:
# Read in opponent performance
probables_df = probables

# Read in opponent performance
opp_perf_df = opp_prev_perf

# Extract column names
cols = opp_perf_df.columns

# Rearrange columns to get date/team at front
cols = ['Date', 'Team',
        'PA_30', 'AB_30', 'R_30', 'H_30', 'RBI_30', 'BB_30',
        'SO_30', 'BA_30','OBP_30', 'SLG_30', 'OPS_30',
        'PA_all', 'AB_all','R_all', 'H_all', 'RBI_all', 'BB_all',
        'SO_all', 'BA_all', 'OBP_all','SLG_all', 'OPS_all']

opp_perf_df = opp_perf_df[cols]

# Read in pitcher performance
pitcher_perf_df = pitcher_perf

# Perform merge
df = pitcher_perf_df.merge(opp_perf_df,
                           left_on = ['Date', 'Opp'], right_on = ['Date', 'Team'],
                           suffixes = ('_pitcher', '_opp')
                          )

df = df.dropna()

# Reorganize columns
cols = ['bucket', 'points', 'Date', 'Opp', 'pitcher', 'code', 'Dec_1', 'DR_1', 'H_1',
       'ER_1', 'BB_1', 'SO_1', 'HR_1', 'HBP_1', 'FIP_1', 'Outs_1', 'points_1',
       'QS_1', 'bucket_1', 'Dec_5', 'DR_5', 'H_5', 'ER_5', 'BB_5', 'SO_5',
       'HR_5', 'HBP_5', 'FIP_5', 'Outs_5', 'points_5', 'QS_5', 'bucket_5',
       'Dec_all', 'DR_all', 'H_all_pitcher', 'ER_all', 'BB_all_pitcher',
       'SO_all_pitcher', 'HR_all', 'HBP_all', 'FIP_all', 'Outs_all',
       'points_all', 'QS_all', 'bucket_all', 'PA_30',
       'AB_30', 'R_30', 'H_30', 'RBI_30', 'BB_30', 'SO_30', 'BA_30', 'OBP_30',
       'SLG_30', 'OPS_30', 'PA_all', 'AB_all', 'R_all', 'H_all_opp', 'RBI_all',
       'BB_all_opp', 'SO_all_opp', 'BA_all', 'OBP_all', 'SLG_all', 'OPS_all']


df = df[cols]
df

,bucket,points,Date,Opp,pitcher,code,Dec_1,DR_1,H_1,ER_1,...,AB_all,R_all,H_all_opp,RBI_all,BB_all_opp,SO_all_opp,BA_all,OBP_all,SLG_all,OPS_all
1,0<.<=10,5,2023-04-18,BAL,Josiah Gray,grayjo03,-1.0,4.0,4.0,2.0,...,33.625000,5.875000,8.750000,5.687500,4.875000,9.125000,0.277188,0.370625,0.497375,0.867938
2,20<.<=30,25,2023-04-25,NYM,Josiah Gray,grayjo03,-1.0,6.0,4.0,1.0,...,33.304348,4.869565,8.043478,4.695652,4.347826,7.260870,0.222217,0.331652,0.354783,0.686565
3,10<.<=20,19,2023-04-30,PIT,Josiah Gray,grayjo03,1.0,6.0,4.0,0.0,...,33.500000,5.500000,8.928571,5.214286,3.928571,7.857143,0.237571,0.320643,0.409643,0.730250
4,0<.<=10,3,2023-05-05,ARI,Josiah Gray,grayjo03,1.0,4.0,3.0,1.0,...,33.838710,5.193548,8.967742,5.032258,2.548387,7.419355,0.243839,0.287065,0.387097,0.674097
5,10<.<=20,14,2023-05-10,SFG,Josiah Gray,grayjo03,-1.0,4.0,7.0,3.0,...,33.971429,4.371429,8.228571,4.285714,3.371429,10.142857,0.238143,0.322943,0.419914,0.742857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,0<.<=10,6,2023-08-19,ATL,Logan Webb,webblo01,0.0,5.0,6.0,1.0,...,34.239669,5.834711,9.380165,5.636364,3.462810,8.123967,0.266388,0.340215,0.471512,0.811760
438,-10<.<=0,-3,2023-08-25,ATL,Logan Webb,webblo01,0.0,5.0,9.0,4.0,...,34.214286,5.785714,9.380952,5.587302,3.420635,8.142857,0.266683,0.340381,0.472611,0.813016
439,0<.<=10,10,2023-08-30,CIN,Logan Webb,webblo01,-1.0,5.0,6.0,5.0,...,33.873134,4.753731,8.335821,4.537313,3.388060,9.343284,0.249037,0.328485,0.399903,0.728321
440,0<.<=10,9,2023-09-04,CHC,Logan Webb,webblo01,-1.0,4.0,7.0,2.0,...,33.897810,5.051095,8.583942,4.854015,3.518248,8.795620,0.257358,0.332971,0.411942,0.744920
441,20<.<=30,21,2023-09-09,COL,Logan Webb,webblo01,-1.0,4.0,5.0,3.0,...,33.878571,4.421429,8.400000,4.207143,2.764286,9.485714,0.255329,0.314443,0.404000,0.718421

In [23]:
# Initialize df
prediction_input = pd.DataFrame()

# Extract list of starters from probables df
starters = df['code'].unique()

# Loop through all starters
for starter in starters:
    # Get most recent row of data
    most_recent = df.loc[df['code'] == starter].sort_values('Date').tail(1)

    # Put into df to use as prediciton inputs
    prediction_input = prediction_input.append(most_recent)

# Drop target columns
prediction_input = prediction_input.drop(columns=['bucket', 'points'])

prediction_input.to_csv('STARTERS_input_data.csv', index=False)

prediction_input.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 27 to 441
Data columns (total 65 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            18 non-null     datetime64[ns]
 1   Opp             18 non-null     object
 2   pitcher         18 non-null     object
 3   code            18 non-null     object
 4   Dec_1           18 non-null     float64
 5   DR_1            18 non-null     float64
 6   H_1             18 non-null     float64
 7   ER_1            18 non-null     float64
 8   BB_1            18 non-null     float64
 9   SO_1            18 non-null     float64
 10  HR_1            18 non-null     float64
 11  HBP_1           18 non-null     float64
 12  FIP_1           18 non-null     float64
 13  Outs_1          18 non-null     float64
 14  points_1        18 non-null     float64
 15  QS_1            18 non-null     float64
 16  bucket_1        18 non-null     object
 17  Dec_5           18 non-null     float64
 18  DR_5            18 non-null     float64
 19  H_5             18 non-null     float64
 20  ER_5            18 non-null     float64
 21  BB_5            18 non-null     float64
 22  SO_5            18 non-null     float64
 23  HR_5            18 non-null     float64
 24  HBP_5           18 non-null     float64
 25  FIP_5           18 non-null     float64
 26  Outs_5          18 non-null     float64
 27  points_5        18 non-null     float64
 28  QS_5            18 non-null     float64
 29  bucket_5        18 non-null     object
 30  Dec_all         18 non-null     float64
 31  DR_all          18 non-null     float64
 32  H_all_pitcher   18 non-null     float64
 33  ER_all          18 non-null     float64
 34  BB_all_pitcher  18 non-null     float64
 35  SO_all_pitcher  18 non-null     float64
 36  HR_all          18 non-null     float64
 37  HBP_all         18 non-null     float64
 38  FIP_all         18 non-null     float64
 39  Outs_all        18 non-null     float64
 40  points_all      18 non-null     float64
 41  QS_all          18 non-null     float64
 42  bucket_all      18 non-null     object
 43  PA_30           18 non-null     float64
 44  AB_30           18 non-null     float64
 45  R_30            18 non-null     float64
 46  H_30            18 non-null     float64
 47  RBI_30          18 non-null     float64
 48  BB_30           18 non-null     float64
 49  SO_30           18 non-null     float64
 50  BA_30           18 non-null     float64
 51  OBP_30          18 non-null     float64
 52  SLG_30          18 non-null     float64
 53  OPS_30          18 non-null     float64
 54  PA_all          18 non-null     float64
 55  AB_all          18 non-null     float64
 56  R_all           18 non-null     float64
 57  H_all_opp       18 non-null     float64
 58  RBI_all         18 non-null     float64
 59  BB_all_opp      18 non-null     float64
 60  SO_all_opp      18 non-null     float64
 61  BA_all          18 non-null     float64
 62  OBP_all         18 non-null     float64
 63  SLG_all         18 non-null     float64
 64  OPS_all         18 non-null     float64
dtypes: datetime64[ns](1), float64(58), object(6)
memory usage: 9.3+ KB

In [22]:
print("--- %s minutes ---" % round((time.time() - start_time)/60,2))

--- 31.1 minutes ---